// Gets a value from a Map by the map path
//
// @function config-map-get
//
// @access private
//
// @param $map  {map...} The Map
// @param $path {string} The map path
//
// @return      {*}      The value of the map path
@function config-map-get($map, $path) {
  $keys: str-split($path, $config-delimiter);
  $value: $map;

  @each $key in $keys {
    @if type-of($value) != 'map' or not map-has-key($value, $key) {
      @warn 'The path "#{$path}" doesn\'t exist.';

      @return null;
    }

    $value: map-get($value, $key);
  }

  @return $value;
}
