@charset "UTF-8";

// Sass Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

// The delimiter of configuration path
//
// @private
$config-delimiter: "." !default;

// The configuration storage
//
// @private
$config-attr: () !default;

// The default configuration storage
//
// @private
$config-default: () !default;
