@charset "UTF-8";

/// Setting to use global vars
$config-manger-variables: "" !default !global;

@if $config-manger-variables == "global" {
  /// The delimiter of configuration path
  ///
  /// @access private
  $config-delimiter: "." !default !global;

  /// The configuration storage
  ///
  /// @access private
  $config-attr: () !default !global;

  /// The default configuration storage
  ///
  /// @access private
  $config-default: () !default !global;

  /// Namespace for settings
  ///
  /// @access public
  $config-namespace: "" !default !global;
} @else {
  /// The delimiter of configuration path
  ///
  /// @access private
  $config-delimiter: "." !default;

  /// The configuration storage
  ///
  /// @access private
  $config-attr: () !default;

  /// The default configuration storage
  ///
  /// @access private
  $config-default: () !default;

  /// Namespace for settings
  ///
  /// @access public
  $config-namespace: "" !default;
}
