@charset "UTF-8";

/// Sets a value to a configuration path
///
/// @param {String} $key     The configuration key
/// @param {*|Null} $value   The value to set
/// @param {Bool}   $default Whether the configuration is default
@mixin config-set($key, $value, $default: false) {
  $config: config-set($key, $value, $default);
}

/// Gets a value to/from a configuration path
///
/// @param {String} $key     The configuration path
/// @param {Bool}   $default Whether the configuration is default
@mixin config-get($key, $default: false) {
  $config: config-get($key, $default);
}

/// Remove settings
///
/// @param {String} $settings Configuration path
/// @param {Bool}   $default  Whether the configuration is default
@mixin config-reset($settings, $default:false) {
  $config-reset: config-reset($settings);
}
