@charset "UTF-8";

/// Remove settings
///
/// @param  {String} $settings Configuration path
/// @param  {Bool}   $default  Whether the configuration is default
///
/// @return {Bool}             True if the configuration path is removed.
@function config-reset($settings, $default: false) {
  $settings: $sass-config-namespace + $settings;

  @if length($settings) == 1 {
    $settings: nth($settings, 1);
  }

  @each $setting in $settings {
    @if ($default) {
      @if ($config-manger-variables == "global") {
        $sass-config-default: map-remove($sass-config-default, $setting) !global;
      } @else {
        $sass-config-default: map-remove($sass-config-default, $setting);
      }
    } @else {
      @if ($config-manger-variables == "global") {
        $sass-config-attr: map-remove($sass-config-attr, $setting) !global;
      } @else {
        $sass-config-attr: map-remove($sass-config-attr, $setting);
      }
    }
  }

  @return true;
}
